.header_logo, .navbar, .profile, .option, .header_search {
    border-right: 1px solid #F4F4F4;
}

.header {
    padding: 0 10px;
    background-color: #fff;
    font-size: 12px;
    line-height: 11px;
}

.container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


.header_logo {
    padding: 20px 44px 20px 40px;
}

.navbar {
    padding: 20px 20px;
    border-right: 1px solid #F4F4F4;
}

.navbar_items {
    display: flex;
}

.navbar_item{
    width: 90px;
    text-align: center;
}

.navbar_item img {
    margin: 0 33px 10px;
}


.header_search {
    width: 367px;
    display: flex;
    align-content: center;
    padding: 28px 30px 28px;
}

.header_search img{
    margin-right: 20px;
}

.header_search textarea{
    margin-top: 5px;
    height: 15px;
    font-size: 16px;
    line-height: 15px;
    color: #CECECE;
    border: none;
    resize: none;
}

.profile {
    display: flex;
    padding: 20px 105px 20px 30px;
    align-content: center;
}

.profile_logo {
    width: 42px;
    height: 42px;
    border-radius: 26px;
    margin-right: 15px;
}

.profile p {
    padding-top: 4px;
}

.option {
    text-align: center;
    margin-right: 40px;
    padding: 18px 0;

}


.option button{
    padding: 0;
    border: none;
    background-color: #fff;
    margin: 0 33px;
}
